<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mycom.myapp.auth.dao.UserDao">
    <select id="login" parameterType="com.mycom.myapp.auth.dto.UserDto" resultType="com.mycom.myapp.auth.dto.UserDto">
        SELECT userid, password
        FROM Customers
        WHERE userid = #{userid} AND password = #{password}
    </select>
</mapper>